<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devteam.system.mapper.SysUserWareMapper">

	<resultMap type="SysUserWare" id="SysUserWareResult">
		<result property="userId"     column="user_id"      />
		<result property="wareId"     column="ware_id"      />
	</resultMap>

	<delete id="deleteUserWareByUserId" parameterType="Long">
		delete from sys_user_ware where user_id=#{wareId}
	</delete>
	
	<select id="countUserWareById" resultType="Integer">
	    select count(1) from sys_user_ware where ware_id=#{wareId}  
	</select>
	
	<delete id="deleteUserWare" parameterType="Long">
 		delete from sys_user_ware where user_id in
 		<foreach collection="array" item="userId" open="(" separator="," close=")">
 			#{userId}
        </foreach> 
 	</delete>
	
	<insert id="batchUserPost">
		insert into sys_user_post(user_id, post_id) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.userId},#{item.postId})
		</foreach>
	</insert>
	
</mapper> 